@section scripts{
    <meta charset="UTF-8">
    <script type="text/javascript">
        var ehrID = '@Session["EHRID"]';
    </script>

    @*<script src="~/Scripts/angular.js"></script>*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bluebird/latest/bluebird.min.js"></script>
    <script src="~/Scripts/ClientValidation/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/JqueryUI/jquery-ui.min.js"></script>

    <link href="~/Content/Custom/custom.css" rel="stylesheet" />
    <link href="~/Content/Custom/listView.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="~/Content/JqueryUI/jquery-ui.min.css">
    <link href="~/Content/Datatables/datatables.css" rel="stylesheet" />
    @*<script src="~/Scripts/FileSaver.js"></script>*@
    @*<script src="~/Scripts/EHR/FormPicker.js"></script>*@
    @*<script src="~/Scripts/Views/myAngular.js"></script>*@

    @*<script src="~/Scripts/Views/Inkommande/inkommande.js"></script>*@
    <script src="~/Scripts/ehrscapelogin.js"></script>
    <script src="~/Scripts/Views/Planering/planering.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.js"></script>
    <script src="~/Scripts/angular-datatables.min.js"></script>
}

<div ng-app="myApp">
    <div id=" top-row">
        <div id="left-top-row-content">
            <div>
            </div>
        </div>
        <div id="right-top-row-content">
            <div><h4></h4></div>

        </div>
    </div>

    <div ng-controller="PlaneringController">
        <table datatable="ng" class="table table-hover listview" id="show-remisser">
            <thead>
                <tr>
                    <th ng-if="'@HttpContext.Current.Session["ROLE"]' == 'Kirurg' ">Namn</th>
                    <th ng-if="'@HttpContext.Current.Session["ROLE"]' == 'Ledning' ">Kön</th>
                    <th ng-if="'@HttpContext.Current.Session["ROLE"]' == 'Ledning' ">Ålder</th>
                    <th ng-if="'@HttpContext.Current.Session["ROLE"]' == 'Kirurg' ">Personnummer</th>
                    <th>Diagnos</th>
                    <th>Planerad huvudåtgärd(er)</th>
                    <th>Tid till behandling</th>
                    <th>SVF</th>
                    <th>Planerad operationstid</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in listItems" ng-click="pickUnderlag('@Url.Action("Index","OplaneradeOp/Planeringsunderlag")', '@HttpContext.Current.Session["ROLE"]', item.patientinfo.EHRID, item.content[0].activities[0].description.items[0].value.value)">
                    <td ng-if="'@HttpContext.Current.Session["ROLE"]' == 'Kirurg' ">{{item.patientinfo.firstname}} {{item.patientinfo.lastname}}</td>
                    <td ng-if="'@HttpContext.Current.Session["ROLE"]' == 'Ledning' ">{{item.patientinfo.gender || '-'}}</td>
                    <td ng-if="'@HttpContext.Current.Session["ROLE"]' == 'Ledning' ">{{item.patientinfo.age}}</td>
                    <td ng-if="'@HttpContext.Current.Session["ROLE"]' == 'Kirurg' ">{{item.patientinfo.personnummer}}</td>
                    <td>{{'-'}}</td>
                    <td>{{item.content[0].activities[0].description.items[0].value.value|| '-'}}</td>
                    <td>{{'-'}}</td>
                    <td>{{'-'}}</td>
                    <td>{{'-'}}</td>
                    <td>{{item.patientinfo.status}}</td>
                </tr>

                @*<td ng-bind="instruction.Composition.content[0].activities[0].description.items[1].value.value || '-' ">
                        @*<div ng-show="checkIfClicked(instruction.Composition.patientinfo.EHRID, instruction.Composition.uid.value)">
                        <input type="button" id="AvvisaButton" class="btn btn-default" ng-click="UpdateState(instruction.Composition, $event); AvvisaRemiss(instruction.Composition)" value="Avvisa Remiss" />
                        <label id="lblData"></label>
                    </div>*@
                @*</td>
                    <td ng-bind="instruction.time || '-'">*@
                @*<div ng-show="checkIfClicked(instruction.Composition.patientinfo.EHRID, instruction.Composition.uid.value)">
                        <input type="button" id="UnderlagButton" class="btn btn-default" ng-click="UpdateState(instruction.Composition, $event); CreateUnderlag(instruction.Composition)" value="Skapa Underlag" />
                        <label id="lblData"></label>
                    </div>*@
                @*</td>*@


            </tbody>
        </table>

    </div>

</div>
